@charset "UTF-8";
/* Загрузка глобальных стилей */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto.ttf"); }

@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/RobotoSlab.ttf"); }

body {
  font-family: 'RobotoSlab'; }

.container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

/* Загрузка основных стилей header'a */
.logo {
  display: block;
  width: 256px;
  height: 55px;
  font-size: 0;
  background: url("../img/header-logo.png") no-repeat;
  transition: opacity .3s; }
  .logo:hover {
    opacity: .7; }
  .logo:active {
    opacity: .5; }

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 18px 0; }

.page-nav {
  border-top: 1px solid #e9e9e9; }

.page-nav__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0; }

.page-nav__item {
  list-style: none;
  padding-right: 52px; }
  .page-nav__item:last-child {
    padding-right: 0; }

.page-nav__link {
  position: relative;
  display: block;
  padding: 18px 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .3s; }
  .page-nav__link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform .3s; }
  .page-nav__link:hover {
    opacity: .8; }
  .page-nav__link:hover::before {
    transform: scale(1, 1); }
  .page-nav__link:active {
    opacity: .6; }

.page-nav__link--active {
  color: #80b435; }
  .page-nav__link--active:hover {
    opacity: 1; }
  .page-nav__link--active:hover::before {
    transform: scale(0); }
  .page-nav__link--active:active {
    opacity: 1; }

.phone-number {
  position: relative;
  padding-left: 22px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  color: #80b435;
  text-decoration: none;
  transition: opacity .3s; }
  .phone-number::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin: auto 0;
    background: url("../img/icon-phone.png") no-repeat; }
  .phone-number:hover {
    opacity: .8; }
  .phone-number:active {
    opacity: .6; }

.phone-number--reverse-icon {
  padding-left: 0;
  padding-right: 22px; }
  .phone-number--reverse-icon::before {
    left: auto;
    right: 0;
    transform: rotate(-90deg); }

/* Загрузка основных стилей main'a */
.section-title {
  display: none; }

/* Загрузка дополнительных стилей страницы index секции main */
.button {
  padding: 10px 38px;
  border: 1px solid #80b435;
  font-family: 'RobotoSlab';
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #80b435;
  cursor: pointer;
  transition: all .3s; }
  .button:hover {
    background-color: #fff;
    color: #80b435; }
  .button:active {
    opacity: .7; }

.latest-products {
  position: relative;
  margin-bottom: 70px; }

.latest-products__input {
  position: absolute;
  opacity: 0;
  visibility: hidden; }

.latest-products__filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 55px; }

.latest-products__label {
  padding-right: 35px;
  font-size: 16px;
  color: #2b2b2b;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer; }
  .latest-products__label:last-child {
    padding-right: 0; }

#latest-products-all:checked ~ .latest-products__filter .latest-products__label:nth-child(1) {
  color: #80b435; }

#latest-products-pizza:checked ~ .latest-products__filter .latest-products__label:nth-child(2) {
  color: #80b435; }

#latest-products-icecream:checked ~ .latest-products__filter .latest-products__label:nth-child(3) {
  color: #80b435; }

#latest-products-drink:checked ~ .latest-products__filter .latest-products__label:nth-child(4) {
  color: #80b435; }

#latest-products-snack:checked ~ .latest-products__filter .latest-products__label:nth-child(5) {
  color: #80b435; }

.latest-products__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 350px);
  grid-gap: 30px;
  justify-content: center;
  margin-bottom: 60px; }

.latest-products__inner {
  margin: 0 auto;
  text-align: center; }

.page-title {
  margin: 0 0 30px 0;
  font-size: 36px;
  color: #2b2b2b;
  font-weight: 900;
  text-align: center; }

.policies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -74px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8; }

.policie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 292px;
  padding: 35px 0; }

.policie__icon {
  background: transparent url("../img/icon-policies.png") no-repeat;
  margin-bottom: 10px; }

.policie__icon--free {
  width: 44px;
  height: 35px;
  background-position: -5px -5px; }

.policie__icon--support {
  width: 50px;
  height: 44px;
  background-position: -5px -50px; }

.policie__icon--partner {
  width: 46px;
  height: 42px;
  background-position: -65px -5px; }

.policie__icon--contact {
  width: 36px;
  height: 36px;
  background-position: -65px -57px; }

.policie__title {
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: 900;
  color: #2b2b2b;
  text-transform: uppercase; }

.policie__desc {
  margin: 0;
  font-size: 12px;
  color: #2b2b2b;
  text-transform: uppercase;
  opacity: .6; }

.policie__desc-link {
  color: #80b435; }

.promo-layout {
  background-color: #2b2b2b;
  margin-bottom: 145px; }

.promo-layout__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 170px 0; }

.promo-layout__logo {
  width: 380px;
  height: 330px;
  background: url("../img/starinached-logo.svg") no-repeat; }

.promo-layout__desc {
  margin-bottom: 30px;
  font-size: 20px;
  color: #fff; }

.sale {
  background-color: #d7d7d7;
  padding: 120px 95px; }

.sale__title {
  margin: 0 0 10px 0;
  max-width: 670px;
  font-size: 42px;
  font-weight: 100;
  color: #80b435;
  text-transform: uppercase; }

.sale__desc {
  margin: 0 0 20px 0;
  max-width: 670px;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 2px; }

.sale__inner-text {
  max-width: 670px;
  padding-right: 100px;
  margin-left: auto; }

.sale__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 100px; }

.sale__timer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (165px)[4];
      grid-template-columns: repeat(4, 165px);
  justify-content: flex-end;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  max-width: 770px;
  width: 100%; }

.sale__timer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0; }

.sale__timer-num {
  margin: 0;
  font-size: 48px;
  color: #80b435;
  font-weight: 100; }

.sale__timer-name {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase; }

.view-button {
  padding: 10px 50px;
  font-size: 14px;
  font-family: 'RobotoSlab';
  text-transform: uppercase;
  border: 1px solid #80b435;
  color: #80b435;
  transition: all .3s;
  text-decoration: none; }
  .view-button:hover {
    color: #fff;
    background-color: #80b435; }
  .view-button:active {
    opacity: .8; }

/* Загрузка дополнительных стилей страницы catalog секции main */
/* Загрузка дополнительных стилей страницы about секции main */
/* Загрузка дополнительных стилей страницы contacts секции main */
/* Загрузка дополнительных стилей страницы 404-page секции main */
/* Загрузка дополнительных стилей страницы faq секции main */
/* Загрузка дополнительных стилей страницы popup секции main */
/* Загрузка основных стилей footer'a */
/* Подгрузка стилей шаблона */
.card-product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 350px;
  height: 350px;
  background-color: #f7f7f7;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  transition: all .3s; }

.card-product__name {
  margin: 0 0 5px 0;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 900;
  color: #2b2b2b; }

.card-product__price {
  margin: 0 0 30px 0;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 900;
  color: #80b435; }

.card-product__bar {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent; }

.card-product:hover > .card-product__bar {
  display: flex; }

.card-product__bar-link {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 900;
  color: #2b2b2b;
  text-decoration: none;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border-radius: 45px;
  opacity: .9;
  background-color: #fff;
  transition: all .3s; }
  .card-product__bar-link:hover {
    background-color: #2b2b2b;
    color: #fff; }
  .card-product__bar-link:active {
    opacity: .6; }
