@charset "UTF-8";
/* Загрузка глобальных стилей */
/* colors */
/* box-shadow */
/* width device */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto.ttf") format("truetype"), url("../fonts/Roboto.woff") format("woff"), local("Roboto"); }

@font-face {
  font-family: 'Roboto Slab';
  src: url("../fonts/RobotoSlab.ttf") format("truetype"), url("../fonts/RobotoSlab.woff") format("woff"), local("Roboto Slab"); }

body {
  font-family: 'Roboto Slab'; }

.container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto; }
  @media screen and (max-width: 1220px) {
    .container {
      width: calc(100% - 60px); } }
  @media screen and (max-width: 900px) {
    .container {
      padding: 0 15px;
      width: calc(100% - 30px); } }

/* Загрузка основных стилей header'a */
.logo {
  display: block;
  width: 256px;
  height: 55px;
  font-size: 0;
  background: url("../img/header-logo.png") no-repeat;
  transition: opacity .3s; }
  .logo:hover {
    opacity: .7; }
  .logo:active {
    opacity: .5; }
  @media screen and (max-width: 736px) {
    .logo {
      margin: 7px 0 0 0; } }

.page-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 18px 0; }
  @media screen and (max-width: 736px) {
    .page-header__inner {
      flex-direction: column;
      justify-content: center;
      padding-top: 15px; } }

.page-nav {
  border-top: 1px solid #e9e9e9; }
  @media screen and (max-width: 736px) {
    .page-nav {
      padding-top: 10px; } }

.page-nav__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 736px) {
    .page-nav__list {
      flex-direction: column; } }

.page-nav__close {
  display: none; }
  @media screen and (max-width: 736px) {
    .page-nav__close {
      display: block;
      margin: 0 auto; } }

.page-nav__item {
  list-style: none;
  padding-right: 52px; }
  .page-nav__item:last-child {
    padding-right: 0; }
  @media screen and (max-width: 736px) {
    .page-nav__item {
      width: 100%;
      padding-right: 0; } }

.page-nav__link {
  position: relative;
  display: block;
  padding: 18px 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity .3s; }
  .page-nav__link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform .3s; }
    @media screen and (max-width: 736px) {
      .page-nav__link::before {
        display: none; } }
  .page-nav__link:hover {
    opacity: .8; }
  .page-nav__link:hover::before {
    transform: scale(1, 1); }
  .page-nav__link:active {
    opacity: .6; }
  @media screen and (max-width: 736px) {
    .page-nav__link {
      padding: 10px 0 10px 30px; } }

.page-nav__link--active {
  color: #80b435; }
  .page-nav__link--active:hover {
    opacity: 1; }
  .page-nav__link--active:hover::before {
    transform: scale(0); }
  .page-nav__link--active:active {
    opacity: 1; }

.phone-number {
  position: relative;
  padding-left: 22px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  color: #80b435;
  text-decoration: none;
  transition: opacity .3s; }
  .phone-number::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin: auto 0;
    background: url("../img/icon-phone.png") no-repeat; }
  .phone-number:hover {
    opacity: .8; }
  .phone-number:active {
    opacity: .6; }

.phone-number--reverse-icon {
  padding-left: 0;
  padding-right: 22px; }
  .phone-number--reverse-icon::before {
    left: auto;
    right: 0;
    transform: rotate(-90deg); }

@media screen and (max-width: 736px) {
  .page-header__inner .phone-number--reverse-icon {
    display: none; } }

/* Загрузка основных стилей main'a */
.section-title {
  display: none; }

.choose-us__title {
  position: relative;
  margin: 0 0 15px 0;
  font-size: 24px;
  color: #80b435; }
  .choose-us__title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-image: url("../img/icon-choose-us.png");
    background-repeat: no-repeat; }

.choose-us__desc {
  margin: 0;
  font-size: 14px;
  color: #666666;
  line-height: 24px; }

.choose-us__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 115px; }
  @media screen and (max-width: 414px) {
    .choose-us__content {
      flex-direction: column;
      margin-top: 35px; } }
  .choose-us__content::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    max-width: 435px;
    height: 100%;
    background: url("../img/garantiay.png") no-repeat;
    background-size: contain; }
    @media screen and (max-width: 900px) {
      .choose-us__content::before {
        display: none; } }

.choose-us__item {
  max-width: 300px;
  margin-bottom: 90px; }
  @media screen and (max-width: 414px) {
    .choose-us__item {
      max-width: 100%;
      margin-bottom: 20px; } }

.choose-us__item--tar {
  text-align: right; }

.choose-us__title--organic {
  padding-left: 50px; }
  .choose-us__title--organic::before {
    width: 34px;
    height: 38px;
    background-position: -5px -5px; }

.choose-us__title--delicious {
  padding-left: 50px; }
  .choose-us__title--delicious::before {
    width: 33px;
    height: 35px;
    background-position: -49px -5px; }

.choose-us__title--fast {
  padding-left: 50px; }
  .choose-us__title--fast::before {
    width: 34px;
    height: 35px;
    background-position: -49px -50px; }

.choose-us__title--healthy {
  padding-right: 50px; }
  .choose-us__title--healthy::before {
    left: auto;
    right: 0;
    width: 33px;
    height: 38px;
    background-position: -93px -5px; }

.choose-us__title--nice {
  padding-right: 50px; }
  .choose-us__title--nice::before {
    left: auto;
    right: 0;
    width: 33px;
    height: 42px;
    background-position: -5px -53px; }

.choose-us__title--actually {
  padding-right: 50px; }
  .choose-us__title--actually::before {
    left: auto;
    right: 0;
    width: 35px;
    height: 30px;
    background-position: -93px -53px; }

.current-page {
  background: #2b2b2b; }

.current-page__title {
  font-family: 'Roboto Slab';
  margin: 0;
  padding: 80px 0 0 0;
  font-size: 65px;
  line-height: 78px;
  color: #fff;
  font-weight: 100;
  text-align: center; }

.current-page__breadcrumbs {
  text-align: center;
  padding-bottom: 70px; }

.current-page__breadcrumbs-item {
  padding-right: 25px;
  font-family: 'Roboto Slab';
  font-size: 18px;
  line-height: 35px;
  color: #fff;
  font-weight: 500;
  text-decoration: none; }
  .current-page__breadcrumbs-item--active {
    position: relative;
    padding: 0 0 0 30px;
    color: #80b435; }
    .current-page__breadcrumbs-item--active::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      height: 0;
      border: 7px solid transparent;
      border-left-color: #fff; }

/* Загрузка дополнительных стилей страницы index секции main */
.button {
  padding: 10px 38px;
  border: 1px solid #80b435;
  font-family: 'RobotoSlab';
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #80b435;
  cursor: pointer;
  transition: all .3s; }
  .button:hover {
    background-color: #fff;
    color: #80b435; }
  .button:active {
    opacity: .7; }

.featured-products {
  position: relative;
  padding: 60px 0;
  text-align: center; }

.featured-products__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (170px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 170px);
  grid-gap: 28px;
  justify-content: center;
  margin-bottom: 45px; }

.featured-products__input {
  position: absolute;
  opacity: 0;
  left: 0;
  visibility: hidden; }

.featured-products__filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 55px; }
  @media screen and (max-width: 414px) {
    .featured-products__filter {
      flex-direction: column;
      margin-bottom: 25px; } }

.featured-products__label {
  padding-right: 35px;
  font-size: 16px;
  color: #2b2b2b;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer; }
  .featured-products__label:last-child {
    padding-right: 0; }
  @media screen and (max-width: 736px) {
    .featured-products__label {
      padding-right: 27px; } }
  @media screen and (max-width: 414px) {
    .featured-products__label {
      padding: 0;
      text-align: center;
      padding-bottom: 5px; } }

#featured-products-popular:checked ~ .featured-products__filter .featured-products__label:nth-child(1) {
  color: #80b435; }

#featured-products-new:checked ~ .featured-products__filter .featured-products__label:nth-child(2) {
  color: #80b435; }

#featured-products-sale:checked ~ .featured-products__filter .featured-products__label:nth-child(3) {
  color: #80b435; }

#featured-products-offer:checked ~ .featured-products__filter .featured-products__label:nth-child(4) {
  color: #80b435; }

.latest-products {
  position: relative;
  margin-bottom: 70px; }

.latest-products__input {
  position: absolute;
  opacity: 0;
  left: 0;
  visibility: hidden; }

.latest-products__filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 55px; }
  @media screen and (max-width: 414px) {
    .latest-products__filter {
      flex-direction: column;
      margin-bottom: 25px; } }

.latest-products__label {
  padding-right: 35px;
  font-size: 16px;
  color: #2b2b2b;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer; }
  .latest-products__label:last-child {
    padding-right: 0; }
  @media screen and (max-width: 736px) {
    .latest-products__label {
      padding-right: 27px; } }
  @media screen and (max-width: 414px) {
    .latest-products__label {
      padding: 0;
      text-align: center;
      padding-bottom: 5px; } }

#latest-products-all:checked ~ .latest-products__filter .latest-products__label:nth-child(1) {
  color: #80b435; }

#latest-products-pizza:checked ~ .latest-products__filter .latest-products__label:nth-child(2) {
  color: #80b435; }

#latest-products-icecream:checked ~ .latest-products__filter .latest-products__label:nth-child(3) {
  color: #80b435; }

#latest-products-drink:checked ~ .latest-products__filter .latest-products__label:nth-child(4) {
  color: #80b435; }

#latest-products-snack:checked ~ .latest-products__filter .latest-products__label:nth-child(5) {
  color: #80b435; }

.latest-products__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 350px);
  grid-gap: 30px;
  justify-content: center;
  margin-bottom: 60px; }
  @media screen and (max-width: 414px) {
    .latest-products__content {
      -ms-grid-columns: (100%)[auto-fit];
          grid-template-columns: repeat(auto-fit, 100%);
      padding: 0 15px; } }

.latest-products__inner {
  margin: 0 auto;
  text-align: center; }

.page-title {
  margin: 0 0 30px 0;
  font-size: 36px;
  color: #2b2b2b;
  font-weight: 900;
  text-align: center; }
  @media screen and (max-width: 414px) {
    .page-title {
      margin-bottom: 25px;
      font-size: 24px; } }

.page-title--fz48 {
  font-size: 48px; }
  @media screen and (max-width: 414px) {
    .page-title--fz48 {
      font-size: 24px; } }

.page-title__desc {
  margin: 0;
  font-size: 16px;
  text-align: center; }

.page-title__leaf {
  position: relative;
  margin: 30px auto 0 auto;
  max-width: 475px;
  height: 33px;
  background: url("../img/leaf.png") center no-repeat; }
  .page-title__leaf::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 200px;
    height: 6px;
    background: url("../img/line.png") repeat; }
    @media screen and (max-width: 414px) {
      .page-title__leaf::before {
        width: calc(50% - 33px); } }
  .page-title__leaf::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 200px;
    height: 6px;
    background: url("../img/line.png") repeat; }
    @media screen and (max-width: 414px) {
      .page-title__leaf::after {
        width: calc(50% - 33px); } }

.policies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -74px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8; }
  @media screen and (max-width: 900px) {
    .policies {
      position: static;
      flex-wrap: wrap;
      margin-left: -15px;
      width: calc(100% + 30px); } }
  @media screen and (max-width: 736px) {
    .policies {
      padding: 0 15px;
      width: 100%; } }
  @media screen and (max-width: 414px) {
    .policies {
      flex-direction: column; } }

.policie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 292px;
  padding: 35px 0; }
  @media screen and (max-width: 900px) {
    .policie {
      width: 50%; } }
  @media screen and (max-width: 736px) {
    .policie {
      padding: 25px 0; } }
  @media screen and (max-width: 414px) {
    .policie {
      width: 100%; } }

.policie__icon {
  background: transparent url("../img/icon-policies.png") no-repeat;
  margin-bottom: 10px; }

.policie__icon--free {
  width: 44px;
  height: 35px;
  background-position: -5px -5px; }

.policie__icon--support {
  width: 50px;
  height: 44px;
  background-position: -5px -50px; }

.policie__icon--partner {
  width: 46px;
  height: 42px;
  background-position: -65px -5px; }

.policie__icon--contact {
  width: 36px;
  height: 36px;
  background-position: -65px -57px; }

.policie__title {
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: 900;
  color: #2b2b2b;
  text-transform: uppercase; }
  @media screen and (max-width: 900px) {
    .policie__title {
      text-align: center; } }

.policie__desc {
  margin: 0;
  font-size: 12px;
  color: #2b2b2b;
  text-transform: uppercase;
  opacity: .6; }
  @media screen and (max-width: 900px) {
    .policie__desc {
      text-align: center; } }

.policie__desc-link {
  color: #80b435; }
  @media screen and (max-width: 900px) {
    .policie__desc-link {
      text-align: center; } }

.promo-layout {
  background-color: #2b2b2b;
  margin-bottom: 145px; }
  @media screen and (max-width: 900px) {
    .promo-layout {
      margin-bottom: 50px; } }
  @media screen and (max-width: 900px) {
    .promo-layout {
      margin-bottom: 25px; } }

.promo-layout__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 170px 0; }
  @media screen and (max-width: 900px) {
    .promo-layout__inner {
      padding-top: 0;
      padding-bottom: 60px; } }
  @media screen and (max-width: 414px) {
    .promo-layout__inner {
      padding-top: 0;
      padding-bottom: 45px; } }

.promo-layout__logo {
  width: 380px;
  height: 330px;
  background: url("../img/starinached-logo.svg") no-repeat; }
  @media screen and (max-width: 414px) {
    .promo-layout__logo {
      width: 300px;
      height: 260px;
      background-size: cover; } }

.promo-layout__desc {
  margin-bottom: 30px;
  font-size: 20px;
  color: #fff; }
  @media screen and (max-width: 414px) {
    .promo-layout__desc {
      text-align: center; } }

.reviews-gallery {
  background: #9e9e9e;
  padding: 80px 0; }

.reviews-gallery__input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: 0; }

.reviews-gallery__label {
  display: block;
  margin-right: 18px;
  height: 71px;
  width: 71px;
  border-radius: 50%;
  font-size: 0;
  background: #fff;
  opacity: .5;
  cursor: pointer;
  transition: all .3s; }
  .reviews-gallery__label:last-child {
    margin-right: 0; }
  @media screen and (max-width: 736px) {
    .reviews-gallery__label {
      height: 55px;
      width: 55px; } }
  @media screen and (max-width: 414px) {
    .reviews-gallery__label {
      height: 35px;
      width: 35px; } }

.reviews-gallery__controller {
  display: flex;
  justify-content: center;
  max-width: 830px;
  margin: 0 auto; }

#reviews-gallery-btn-1:checked ~ .reviews-gallery__controller .reviews-gallery__label:nth-child(1) {
  opacity: 1;
  transform: scale(1.17); }

#reviews-gallery-btn-2:checked ~ .reviews-gallery__controller .reviews-gallery__label:nth-child(2) {
  opacity: 1;
  transform: scale(1.17); }

#reviews-gallery-btn-3:checked ~ .reviews-gallery__controller .reviews-gallery__label:nth-child(3) {
  opacity: 1;
  transform: scale(1.17); }

#reviews-gallery-btn-4:checked ~ .reviews-gallery__controller .reviews-gallery__label:nth-child(4) {
  opacity: 1;
  transform: scale(1.17); }

#reviews-gallery-btn-5:checked ~ .reviews-gallery__controller .reviews-gallery__label:nth-child(5) {
  opacity: 1;
  transform: scale(1.17); }

.reviews-gallery__item {
  display: none;
  text-align: center; }

#reviews-gallery-btn-1:checked ~ .reviews-gallery__content .reviews-gallery__item-1 {
  display: block; }

#reviews-gallery-btn-2:checked ~ .reviews-gallery__content .reviews-gallery__item-2 {
  display: block; }

#reviews-gallery-btn-3:checked ~ .reviews-gallery__content .reviews-gallery__item-3 {
  display: block; }

#reviews-gallery-btn-4:checked ~ .reviews-gallery__content .reviews-gallery__item-4 {
  display: block; }

#reviews-gallery-btn-5:checked ~ .reviews-gallery__content .reviews-gallery__item-5 {
  display: block; }

.reviews-gallery__content {
  max-width: 830px;
  margin: 0 auto; }

.reviews-gallery__item-desc {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-bottom: 32px;
  margin: 32px 0; }
  .reviews-gallery__item-desc::before {
    content: '';
    position: absolute;
    width: 90px;
    height: 1px;
    background: #b3b3b3;
    left: calc(50% - 45px);
    bottom: 0; }

.reviews-gallery__item-author {
  font-size: 24px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase; }

.reviews-gallery__item-vk-link {
  padding: 7px;
  font-size: 14px;
  line-height: 1;
  color: #fff;
  font-weight: 900;
  background: #2a5885;
  border: 1px solid #2a5885;
  border-radius: 50%;
  text-decoration: none;
  transition: all .3s;
  opacity: .6; }
  .reviews-gallery__item-vk-link:hover {
    color: #2a5885;
    background-color: #fff;
    border-color: #fff;
    opacity: 1; }

.reviews-vk {
  padding: 20px 0; }

.sale {
  background-color: #d7d7d7;
  padding: 120px 95px 0 95px;
  margin-bottom: 100px; }
  @media screen and (max-width: 1330px) {
    .sale {
      padding-right: 0;
      padding-left: 0; } }
  @media screen and (max-width: 736px) {
    .sale {
      padding: 50px 0; } }
  @media screen and (max-width: 414px) {
    .sale {
      padding: 35px 0;
      margin-bottom: 30px; } }

.sale-bg-pizza {
  position: relative;
  padding-bottom: 120px; }
  .sale-bg-pizza::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 540px;
    height: 256px;
    background: url("../img/pizza.png") no-repeat;
    z-index: 1; }
    @media screen and (max-width: 1330px) {
      .sale-bg-pizza::before {
        display: none; } }
  @media screen and (max-width: 736px) {
    .sale-bg-pizza {
      padding: 0; } }

.sale__title {
  margin: 0 0 10px 0;
  max-width: 670px;
  font-size: 42px;
  font-weight: 100;
  color: #80b435;
  text-transform: uppercase; }
  @media screen and (max-width: 1330px) {
    .sale__title {
      max-width: 100%; } }
  @media screen and (max-width: 736px) {
    .sale__title {
      font-size: 24px;
      text-align: center; } }

.sale__desc {
  margin: 0 0 20px 0;
  max-width: 670px;
  font-size: 20px;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 2px; }
  @media screen and (max-width: 1330px) {
    .sale__desc {
      max-width: 100%; } }

.sale__inner-text {
  max-width: 670px;
  padding-right: 100px;
  margin-left: auto; }
  @media screen and (max-width: 1330px) {
    .sale__inner-text {
      max-width: 100%;
      padding-right: 0; } }

.sale__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 100px; }
  @media screen and (max-width: 1330px) {
    .sale__inner {
      padding-right: 0; } }

.sale__timer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (165px)[4];
      grid-template-columns: repeat(4, 165px);
  justify-content: flex-end;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  max-width: 770px;
  width: 100%; }
  @media screen and (max-width: 1330px) {
    .sale__timer {
      max-width: 100%;
      justify-content: center; } }
  @media screen and (max-width: 736px) {
    .sale__timer {
      -ms-grid-columns: (50%)[auto-fit];
          grid-template-columns: repeat(auto-fit, 50%); } }

.sale__timer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0; }
  @media screen and (max-width: 736px) {
    .sale__timer-item {
      padding: 15px 0; } }

.sale__timer-num {
  margin: 0;
  font-size: 48px;
  line-height: 1;
  color: #80b435;
  font-weight: 100; }

.sale__timer-name {
  margin: 0;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase; }

.view-button {
  padding: 10px 50px;
  font-size: 14px;
  font-family: 'RobotoSlab';
  text-transform: uppercase;
  border: 1px solid #80b435;
  color: #80b435;
  transition: all .3s;
  text-decoration: none; }
  .view-button:hover {
    color: #fff;
    background-color: #80b435; }
  .view-button:active {
    opacity: .8; }

.shop-button {
  padding: 10px 50px;
  font-size: 14px;
  font-family: 'RobotoSlab';
  text-transform: uppercase;
  border: 1px solid #80b435;
  color: #fff;
  transition: all .3s;
  text-decoration: none;
  background-color: #80b435; }
  .shop-button:hover {
    opacity: .7; }
  .shop-button:active {
    opacity: .5; }

/* Загрузка дополнительных стилей страницы catalog секции main */
/* Загрузка дополнительных стилей страницы about секции main */
/* Загрузка дополнительных стилей страницы contacts секции main */
/* Загрузка дополнительных стилей страницы 404-page секции main */
/* Загрузка дополнительных стилей страницы faq секции main */
/* Загрузка дополнительных стилей страницы popup секции main */
/* Загрузка основных стилей footer'a */
.callback-form__btn {
  cursor: pointer; }

.callback-form__input {
  font-family: 'Roboto Slab';
  padding: 19px 19px 15px 19px;
  font-size: 14px;
  line-height: 1;
  color: #898989;
  outline: 0;
  border: 1px solid #e5e5e5;
  width: 100%;
  box-sizing: border-box; }
  .callback-form__input:focus {
    border-color: #c3bdbd; }

.callback-form__label {
  display: block;
  margin: 12px 0;
  cursor: pointer; }

.callback-form__label-link {
  color: #666666;
  transition: opacity .3s; }
  .callback-form__label-link:hover {
    opacity: .5; }

.copy-text {
  font-size: 12px;
  color: #666666; }

.page-footer {
  background: #f3f3f3;
  padding-top: 40px; }

.page-footer__inner-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 170px 270px 370px;
      grid-template-columns: 270px 170px 270px 370px;
  grid-gap: 30px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ccc; }
  @media screen and (max-width: 1220px) {
    .page-footer__inner-top {
      justify-content: center;
      -ms-grid-columns: (250px)[auto-fit];
          grid-template-columns: repeat(auto-fit, 250px); } }

.page-footer__title {
  font-size: 20px;
  line-height: 1;
  color: #80b435;
  margin: 0;
  padding-bottom: 25px; }

.page-footer__text {
  font-size: 14px;
  line-height: 24.5px;
  color: #666;
  margin: 0;
  padding-bottom: 15px; }
  .page-footer__text--link {
    transition: opacity .3s;
    text-decoration: none; }
    .page-footer__text--link:hover {
      text-decoration: underline;
      opacity: .5; }
    .page-footer__text--link:active {
      text-decoration: underline;
      opacity: .5; }

.page-footer__link-read-more {
  font-size: 10px;
  line-height: 1;
  color: #80b435;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity .3s; }
  .page-footer__link-read-more:hover {
    text-decoration: underline;
    opacity: .5; }
  .page-footer__link-read-more:active {
    text-decoration: underline;
    opacity: .5; }

.page-footer__inner-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px; }
  @media screen and (max-width: 414px) {
    .page-footer__inner-bottom {
      justify-content: center;
      flex-wrap: wrap; } }

.socials-item {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0;
  border-radius: 50%;
  margin-left: 5px;
  transition: opacity .3s; }
  .socials-item:hover {
    opacity: .5; }
  .socials-item:active {
    opacity: .5; }
  .socials-item--vk {
    background: url("../img/vk-logo.svg") center no-repeat; }
  .socials-item--in {
    background: url("../img/instagram-logo.svg") center no-repeat; }

.socials__content {
  display: flex;
  flex-wrap: wrap; }

.information {
  display: flex;
  flex-direction: column; }

/* Подгрузка стилей шаблона */
.discussions-vk {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0; }

.comment {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 25px;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 10px 0;
  background: #fff; }

.comment__column-1 {
  padding-top: 8px; }

.comment__logo {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%; }

.comment__online {
  padding-top: 5px;
  font-size: 12.5px;
  margin-top: 5px;
  line-height: 18px;
  color: #939393;
  text-align: center; }

.comment__column-2 {
  flex-basis: calc(100% - 130px);
  padding-left: 30px;
  position: relative; }

.comment__logo-image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%; }

.comment__header {
  display: flex; }

.comment__group-title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  color: #42648b;
  text-decoration: none; }

.comment__group-title:hover,
.comment__group-title:active,
.comment__group-title:focus {
  text-decoration: underline; }

.comment__text-link {
  font-size: 13px;
  line-height: 19px;
  font-weight: 100;
  color: #2a5885;
  text-decoration: none; }

.comment__text-link:hover,
.comment__text-link:active,
.comment__text-link:focus {
  text-decoration: underline; }

.comment__comment-date {
  cursor: default;
  font-size: 13px;
  line-height: 16px;
  color: #939393;
  margin: 0 0 0 5px;
  text-decoration: none; }

.comment__text-title,
.comment__original-link {
  font-size: 13px;
  line-height: 19px; }

.comment__text-title {
  margin-bottom: 20px; }

.comment__original-link {
  color: #42648b;
  padding-bottom: 20px;
  font-weight: 700; }

.comment__like {
  position: absolute;
  right: 0;
  bottom: 5px;
  display: flex;
  align-items: center; }

.comment__like-number {
  margin: 0 0 0 4px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2a5885;
  font-size: 11.5px;
  line-height: 10px; }

@media screen and (max-width: 830px) {
  .comment__header {
    flex-direction: column; }
  .comment__logo {
    width: 80px;
    height: 80px; }
  .comment__column-2 {
    flex-basis: calc(100% - 100px);
    padding-left: 30px; }
  .comment__image {
    display: block;
    max-width: 100%;
    height: auto; }
  .comment__comment-date {
    margin: 0; } }

@media screen and (max-width: 414px) {
  .comment__logo {
    width: 60px;
    height: 60px; }
  .comment {
    padding: 10px 15px; }
  .comment__column-2 {
    flex-basis: calc(100% - 80px);
    padding-left: 20px; } }

.card-product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 350px;
  height: 350px;
  background-color: #f7f7f7;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  transition: all .3s; }
  @media screen and (max-width: 414px) {
    .card-product {
      width: 100%;
      height: 240px; } }

.card-product__name {
  margin: 0 0 5px 0;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 900;
  color: #2b2b2b; }

.card-product__price {
  margin: 0 0 30px 0;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 900;
  color: #80b435; }

.card-product__bar {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent; }

.card-product:hover > .card-product__bar {
  display: flex; }

.card-product__bar-link {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 900;
  color: #2b2b2b;
  text-decoration: none;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border-radius: 45px;
  opacity: .9;
  background-color: #fff;
  transition: all .3s; }
  .card-product__bar-link:hover {
    background-color: #2b2b2b;
    color: #fff; }
  .card-product__bar-link:active {
    opacity: .6; }

.rating-product {
  max-width: 170px; }

.rating-product__inner {
  padding: 22px 5px 15px 5px;
  text-align: center; }

.rating-product__image-box {
  width: 170px;
  height: 170px;
  background: #f7f7f7;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8; }

.rating-product__img {
  display: block;
  max-width: 100%;
  height: auto; }

.rating-product__name {
  font-size: 18px;
  color: #2b2b2b;
  font-weight: 900;
  margin: 0 0 6px 0; }

.rating-product__price {
  font-size: 18px;
  color: #80b435;
  font-weight: 900;
  margin: 0; }
