@keyframes showCartToggleBtn {
  0% {
    right: -7px;
  }

  100% {
    right: 352px;
  }
}

@keyframes hideCartToggleBtn {
  0% {
    right: 352px;
  }

  100% {
    right: -7px;
  }
}

@keyframes showCartWidget {
  0% {
    right: -360px;
  }

  100% {
    right: 0;
  }
}

@keyframes hideCartWidget {
  0% {
    right: 0;
  }

  100% {
    right: -360px;
  }
}