@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf'), local('Roboto');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab.ttf'), local('Roboto Slab');
}

body {
  font-family: 'Roboto Slab';
}
