@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf') format('truetype'),
       url('../fonts/Roboto.woff') format('woff'),
       local('Roboto');
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab.ttf') format('truetype'),
       url('../fonts/RobotoSlab.woff') format('woff'),
       local('Roboto Slab');
}

body {
  font-family: 'Roboto Slab';
}
