/* colors */
$color-green: #80b435;
$color-default-text: #2b2b2b;
$color-white: #fff;
$color-black: #000;
$color-grey: #666666;

/* box-shadow */
$default-box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;

/* width device */
$desctop-xxl: 'screen and (max-width: 1870px)';
$desctop-lg: 'screen and (max-width: 1330px)';
$desctop: 'screen and (max-width: 1220px)';
$tablet: 'screen and (max-width: 900px)';
$mobile: 'screen and (max-width: 736px)';
$mobile-book: 'screen and (max-width: 414px)';
