.policies {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: $color-white;

	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -74px;

  box-shadow: $default-box-shadow;

	@media #{$tablet} {
		position: static;
		flex-wrap: wrap;
		margin-left: -15px;
		width: calc(100% + 30px);
	}

	@media #{$mobile} {
    padding: 0 15px;
    width: 100%;
	}

	@media #{$mobile-book} {
    flex-direction: column;
	}
}

.policie {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 292px;
	padding: 35px 0;

	@media #{$tablet} {
		width: 50%;
	}

	@media #{$mobile} {
		padding: 25px 0;
	}

	@media #{$mobile-book} {
    width: 100%;
	}
}

.policie__icon {
	background: transparent url('../img/icon-policies.png') no-repeat;
	margin-bottom: 10px;
}

.policie__icon--free {
	width: 44px;
  height: 35px;
  background-position: -5px -5px;
}

.policie__icon--support {
	width: 50px;
  height: 44px;
  background-position: -5px -50px;
}

.policie__icon--partner {
	width: 46px;
  height: 42px;
  background-position: -65px -5px;
}

.policie__icon--contact {
	width: 36px;
  height: 36px;
  background-position: -65px -57px;
}

.policie__title {
	margin: 0 0 5px 0;

	font-size: 14px;
	font-weight: 900;

	color: $color-default-text;
	text-transform: uppercase;

	@media #{$tablet} {
		text-align: center;
	}
}

.policie__desc {
	margin: 0;

	font-size: 12px;

	color: $color-default-text;
	text-transform: uppercase;

	opacity: .6;

	@media #{$tablet} {
		text-align: center;
	}
}

.policie__desc-link {
	color: $color-green;

	@media #{$tablet} {
		text-align: center;
	}
}
