.categories__list {
  display: grid;
}

.categories__item {
  margin-bottom: 20px;
  padding-left: 18px;

  font-family: 'Roboto Slab';
  font-size: 18px;
  line-height: 1;
  color: $color-default-text;

  text-decoration: none;
  text-transform: uppercase;

  #{&}--active {
    color: $color-green;
  }
}
