.products__header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.products__filter-btn {
  position: relative;

  flex: 0 0 58px;
  height: 47px;
  margin-right: 15px;

  font-size: 0;

  background-color: transparent;
  border: 1px solid #d6d6d6;
  cursor: pointer;

  #{&}::before {
    content: '';
    position: absolute;
    left: calc(50% - 12.5px);
    top: calc(50% - 12.5px);

    width: 25px;
    height: 25px;
  }

  #{&}--cards {
    #{&}::before {
      background: transparent url('../img/grid-sprites.png') no-repeat;
      background-position: 0 0;
    }
  }

  #{&}--cards-active {
    #{&}::before {
      background: transparent url('../img/grid-sprites.png') no-repeat;
      background-position: -32px 0;
    }
  }

  #{&}--columns {
    #{&}::before {
      background: transparent url('../img/column-sprites.png') no-repeat;
      background-position: 0 0;
    }
    display: none;
  }

  #{&}--columns-active {
    #{&}::before {
      background: transparent url('../img/column-sprites.png') no-repeat;
      background-position: -32px 0;
    }
  }
}

.products__content {
  display: grid;
  grid-gap: 25px;
  // justify-content: space-between;

  @media #{$desctop-xxl} {
    justify-content: center;
  }

  @media #{$mobile} {
    justify-content: center;
  }

  #{&}--grid {
    grid-template-columns: repeat(auto-fit, 350px);

    @media #{$mobile-book} {
      grid-template-columns: repeat(auto-fit, 100%);
    }
  }

  #{&}--column {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}

.products__paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;

  @media #{$mobile} {
    flex-direction: column;
  }
}

.products__paginator-list {
  display: flex;
  flex-wrap: wrap;
}
.products__paginator-arrow {
  position: relative;

  flex: 0 0 58px;
  height: 47px;

  font-size: 0;

  background-color: transparent;
  border: 1px solid #d6d6d6;
  cursor: pointer;
  transition: all .3s;


  #{&}::before {
    content: '';
    position: absolute;
    left: calc(50% - 3px);
    top: calc(50% - 5.5px);

    width: 7px;
    height: 11px;

    background: transparent url('../img/arrow.png') no-repeat;
  }

  #{&}:hover {
    border-color: $color-green;
  }

  #{&}--prev {
    margin-right: 15px;

    #{&}::before {
      transform: rotate(180deg);
    }
  }

  #{&}--next {
    margin-left: 15px;
  }

  @media #{$mobile} {
    margin: 5px 0;
    width: 58px;
  }
}

.products__paginator-item {
  padding: 0 3px;

  line-height: 1;
  color: $color-default-text;

  text-decoration: none;

  #{&}--active {
    color: $color-green;
    text-decoration: underline;
  }
}
