.star {
  display: flex;
}

.star__item {
  flex: 0 0 15px;
  height: 15px;
  margin-right: 3px;

  background: transparent url('../img/star.png') no-repeat;

  #{&}:last-child {
    margin-right: 0;
  }
}
