.produce {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}

.produce__gallery {
	position: relative;
	flex: 0 0 860px;
}

.produce__input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;

	margin: auto 0;
}

.produce__full-box {
	width: 860px;
	margin-bottom: 19px;
}

.produce-full-box-img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.produce__controller {
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px); 
	grid-gap: 19px;
}

.produce__quarter-img {
	display: block;
	width: 200px;
	height: 200px;
	font-size: 0;
	outline: none;
	border: 1px solid $color-green;
	cursor: pointer;

	background: transparent url('http://cdn.fishki.net/upload/post/2017/03/19/2245758/tn/06-funny-cat-wallpapercat-wallpaper.jpg') center no-repeat;
	background-size: cover;

}

.produce__info {
	flex: 1 0 895px;
	padding-left: 50px;
}

.produce__info-title {
	margin: 0 0 20px 0;

	font-size: 48px;
	line-height: 1;
	font-weight: 100;
	color: $color-default-text;
}

.produce__info-price {
	margin: 15px 0;

	font-size: 36px;
	line-height: 1;
	font-weight: 900;
	color: $color-green;
}

.desc-produce__text {
	font-size: 18px;
	line-height: 31px;
	color: #565656;
}

.produce__button {
	padding: 19px 52px;
	font-family: 'Roboto Slab';
	font-size: 14px;
	line-height: 1;
	color: $color-white;

	background: $color-green;
	border: 1px solid $color-green;
	text-transform: uppercase;
	letter-spacing: 2px;

	cursor: pointer;
	transition: all .3s;

	#{&}:hover {
		background-color: transparent;
		color: $color-green;
	}

	#{&}:active {
		opacity: .6;
	}
}

.produce__info-socials {
	display: flex;
	flex-wrap: wrap;
	margin: 15px 0;
}

.produce__info-socials-title {
	margin: 0;

	font-size: 14px;
	line-height: 1;
	color: $color-default-text;
	text-transform: uppercase;
}

.produce__info-socials-item {
	padding-left: 5px;

	font-size: 14px;
	line-height: 1;
	color: $color-default-text;
	text-transform: uppercase;
}

.produce__tabs {
	flex: 0 0 100%;
}

.produce__tabs-controller {
	flex: 0 0 300px;
}

.produce__tabs-item {
	flex: 1 0 1465px;

	#{&}--info {
		display: none;
	}

	#{&}--reviews {
		display: none;
	}
}