.produce {
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0;
}

.produce__gallery {
	position: relative;
	flex: 0 0 860px;

	@media #{$desctop-lg} {
		flex: 0 0 50%;
	}

	@media #{$mobile} {
		flex: 0 0 100%;
	}
}

.produce__gallery #produce__quarter-img-01:checked ~ .produce__controller .produce__quarter-img-01 {
	border-color: $color-green;
	filter: grayscale(0);
}

.produce__gallery #produce__quarter-img-02:checked ~ .produce__controller .produce__quarter-img-02 {
	border-color: $color-green;
	filter: grayscale(0);
}

.produce__gallery #produce__quarter-img-03:checked ~ .produce__controller .produce__quarter-img-03 {
	border-color: $color-green;
	filter: grayscale(0);
}

.produce__gallery #produce__quarter-img-04:checked ~ .produce__controller .produce__quarter-img-04 {
	border-color: $color-green;
	filter: grayscale(0);
}

.produce__input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	display: none;
	margin: auto 0;
}

.produce__full-box {
	width: 860px;
	margin-bottom: 19px;

	@media #{$desctop-lg} {
		width: 100%;
		max-width: 630px;
	}

	@media #{$tablet} {
		margin-bottom: 1px;
	}

	@media #{$mobile} {
		max-width: 100%;
	}
}

.produce-full-box-img {
	display: block;
	width: 100%;
	height: auto;
	max-height: 645px;
	object-fit: cover;
}

.produce__controller {
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-gap: 19px;

	@media #{$desctop-lg} {
		grid-template-columns: repeat(auto-fit, 25%);
		grid-gap: 0;
	}

	@media #{$tablet} {
		justify-content: space-between;
		grid-template-columns: repeat(auto-fit, 50%);
	}
}

.produce__quarter-img {
	display: none;
	width: 200px;
	height: 200px;
	font-size: 0;
	outline: none;
	border: 1px solid #cccccc;
	cursor: pointer;

	background: transparent url('') center no-repeat;
	background-size: cover;
	filter: grayscale(100%);

	@media #{$desctop-lg} {
		width: 100%;
		height: 150px;
	}

	@media #{$tablet} {
		width: 100%;
		height: 100px;
	}
}

.produce__info {
	flex: 1 0 100px;
	padding-left: 50px;

	@media #{$desctop-lg} {
		padding-left: 25px;
	}

	@media #{$mobile} {
		padding-left: 0;
	}
}

.produce__info-title {
	margin: 0 0 20px 0;

	font-size: 48px;
	line-height: 1;
	font-weight: 100;
	color: $color-default-text;

	@media #{$mobile-book} {
		margin-top: 20px;
		font-size: 24px;
	}
}

.produce__info-price {
	margin: 15px 0;

	font-size: 36px;
	line-height: 1;
	font-weight: 900;
	color: $color-green;

	@media #{$mobile-book} {
		font-size: 24px;
	}
}

.desc-produce__text {
	font-size: 18px;
	line-height: 31px;
	color: #565656;

	@media #{$mobile-book} {
		font-size: 16px;
		line-height: 26px;
	}
}

.produce__button {
	padding: 19px 52px;
	font-family: 'Roboto Slab';
	font-size: 14px;
	line-height: 1;
	color: $color-white;

	background: $color-green;
	border: 1px solid $color-green;
	text-transform: uppercase;
	letter-spacing: 2px;

	cursor: pointer;
	transition: all .3s;

	#{&}:hover {
		background-color: transparent;
		color: $color-green;
	}

	#{&}:active {
		opacity: .6;
	}

	@media #{$mobile-book} {
		padding: 19px 15px;
		width: 100%;
	}
}

.produce__info-socials {
	display: flex;
	flex-wrap: wrap;
	margin: 15px 0;
}

.produce__info-socials-title {
	margin: 0;

	font-size: 14px;
	line-height: 1;
	color: $color-default-text;
	text-transform: uppercase;
}

.produce__info-socials-item {
	padding-left: 5px;

	font-size: 14px;
	line-height: 1;
	color: $color-default-text;
	text-transform: uppercase;
}

.produce__tabs {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 100%;

	margin-top: 50px;
	padding-top: 25px;
	border-top: 1px solid #e6e6e6;

	@media #{$mobile-book} {
		margin-top: 15px;
		padding-top: 5px;
	}
}

.produce__tabs-controller {
	display: flex;
	flex-direction: column;
	flex: 0 0 300px;
	padding: 30px 0;

	border-right: 1px solid #e6e6e6;

	@media #{$mobile-book} {
		flex: 0 0 100%;
		padding: 10px 0;
		border-right: none;
	}
}

.produce__tabs-item {
	padding: 30px 0;
	margin-left: 40px;
	flex: 1 0 300px;

	display: none;

	@media #{$mobile-book} {
		flex: 0 0 100%;
		padding: 10px 0;
		margin-left: 0;
	}
}

.produce__tabs-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	display: none;
}

// Табы

.produce__tabs #produce__tabs--description:checked ~ .produce__tabs-controller .produce__tabs-label--desc {
	color: $color-green;
}

.produce__tabs #produce__tabs--info:checked ~ .produce__tabs-controller .produce__tabs-label--info {
	color: $color-green;
}

.produce__tabs #produce__tabs--reviews:checked ~ .produce__tabs-controller .produce__tabs-label--reviews {
	color: $color-green;
}

// Контент

.produce__tabs #produce__tabs--description:checked ~ .produce__tabs-item--desc {
	display: block;
}

.produce__tabs #produce__tabs--info:checked ~ .produce__tabs-item--info {
	display: block;
}

.produce__tabs #produce__tabs--reviews:checked ~ .produce__tabs-item--reviews {
	display: block;
}

.produce__tabs-label {
	padding: 15px 0 15px 0;
	margin-right: 40px;

	font-size: 24px;
	line-height: 1;
	color: $color-default-text;
	cursor: pointer;

	border-bottom: 1px solid #e6e6e6;

	@media #{$mobile-book} {
		margin-right: 0;
		padding: 10px 0;
		font-size: 20px;
	}
}

.produce__tabs-item-text-desc {
	margin: 0 40px 0 0;

	font-size: 18px;
	line-height: 1.2;
	color: $color-default-text;

	@media #{$mobile-book} {
		margin-right: 0;
	}
}

.produce__tabs-item-info {
	margin: 0;

	font-size: 18px;
	line-height: 1;
	color: $color-default-text;

	#{&}--color-grey {
		color: $color-grey;
	}
}

.produce__tabs-item-reviews {
	margin: 0 40px 0 0;

	font-size: 18px;
	line-height: 1.2;
	color: $color-default-text;

	@media #{$mobile-book} {
		margin-right: 0;
	}
}

.produce__tabs-item-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  padding: 18px 0 18px 0;
	margin-right: 40px;

	border-bottom: 1px solid #e6e6e6;

	@media #{$mobile-book} {
		margin-right: 0;
	}
}
