.logo {
  display: block;
  width: 256px;
  height: 55px;

  font-size: 0;

  background: url('../img/header-logo.png') no-repeat;
  transition: opacity .3s;

  #{&}:hover {
    opacity: .7;
  }

  #{&}:active {
    opacity: .5;
  }

  @media #{$mobile} {
    margin: 7px 0 0 0;
  }
}
