.top-rated-product {
  display: flex;
  margin-bottom: 15px;

  text-decoration: none;

  transition: opacity .3s;

  #{&}:hover {
    opacity: .8;
  }

  #{&}:active {
    opacity: .6;
  }
}

.rated-products__list {
  @media #{$mobile} {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all .4s;
  }
}

.top-rated-product__image-box {
  flex: 0 0 130px;
  height: 130px;
}

.top-rated-product__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #ccc;
}

.top-rated-product__info {
  flex-basis: calc(100% - 130px);
  padding-left: 15px;
}

.top-rated-product__info-title {
  margin: 0;
  padding-top: 25px;

  font-size: 18px;
  line-height: 1;
  color: $color-default-text;
}

.top-rated-product__info-price {
  margin: 0;
  padding: 8px 0;

  font-size: 18px;
  line-height: 1;
  color: $color-green;
}
