.about__title {
  margin: 0 0 20px 0;

  font-size: 30px;
  line-height: 1;
  color: $color-green;
  text-align: center;
}

.about__desc {
  margin: 0 0 40px 0;

  font-size: 48px;
  line-height: 1;
  color: $color-default-text;
  text-align: center;
  font-weight: 900;
}
